In [7]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random

In [9]:
df = pd.read_csv('Ads_CTR_Optimisation.csv')
df.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad 1    10000 non-null  int64
 1   Ad 2    10000 non-null  int64
 2   Ad 3    10000 non-null  int64
 3   Ad 4    10000 non-null  int64
 4   Ad 5    10000 non-null  int64
 5   Ad 6    10000 non-null  int64
 6   Ad 7    10000 non-null  int64
 7   Ad 8    10000 non-null  int64
 8   Ad 9    10000 non-null  int64
 9   Ad 10   10000 non-null  int64
dtypes: int64(10)
memory usage: 781.4 KB

In [14]:
N = 10000
ads = 10
ads_selected = []
selected_rewards_1 = [0] * ads
selected_rewards_0 = [0] * ads
total_rewards = 0
for i in range(0, N):
    ad = 0
    max_reward = 0
    for j in range(0, ads):
        rand_draw = random.betavariate(selected_rewards_1[i] + 1, selected_rewards_0[i] + 1)
        if (rand_draw > max_reward):
            max_reward = rand_draw
            ad = j
    ads_selected.append(ads)
    reward = df.values[i, ad]
    if reward == 1:
    selected_rewards_1[ad] += 1
  else:
    selected_rewards_0[ad] += 1
  total_rewards += reward

IndentationError: unindent does not match any outer indentation level (<string>, line 19)